@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Raleway", sans-serif;
    --border-radius: .4rem;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 2rem;

    nav ul {
        display: flex;
        gap: 2rem;

        li {
            list-style: none;
            padding: 1rem;

        }

        li:hover a {
            border-bottom: 2px solid black;
            transition: .3s ease-in-out;
        }

        a {
            font-size: 1.05rem;
            border-bottom: 2px solid transparent;
        }

    }



    a {
        font-family: var(--font-primary);
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .hamburger {
        cursor: pointer;
        display: none;

        div {
            background-color: black;
            width: 18px;
            height: 2px;
        }
    }

}

a {
    text-decoration: none;
}

.bi-whatsapp {
    color: rgb(24, 179, 24);
    margin-left: .4rem;
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.493);
    padding: .6rem 2rem;
    border-radius: var(--border-radius);
}

.btn:hover {
    border: 1px solid black;
    transition: .4s ease-in-out;
    transform: scale(1.1);
}

.logo {
    background-image: url(./img/logotransparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 11rem;
    height: 6rem;
}

/* main */

.bg-main {
    background-image: url(./img/bg-black.jpeg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.black {
    background-color: rgba(255, 255, 255, 0.144);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
    font-family: var(--font-secondary);

    .logo {
        background-color: rgba(255, 255, 255, 0.233);
        border-radius: .4rem;
        /* border-top: 2px solid rgb(94, 66, 24); */
        /* border-bottom: 2px solid rgb(94, 66, 24); */
    }

    .btn {
        font-size: 1.14rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: var(--font-primary);
        margin-top: 1rem;
        color: rgb(255, 255, 255);
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.582);
    }

    p {
        color: whitesmoke;
    }
}

h1 {
    letter-spacing: 1px;
    color: white;
    font-family: var(--font-primary);
}

/* candle white */

.section-velas {
    padding: 2rem;

    h2 {
        font-family: var(--font-primary);
        letter-spacing: 2px;
        font-size: 2rem;
    }

    p {
        font-family: var(--font-secondary);
        font-size: 1.1rem;
        letter-spacing: 1px;
        margin-top: 1rem;
    }

    .conteiner-candles {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        margin-top: 2rem;
        place-items: center;
        gap: 2rem;

        a {
            width: 100%;
        }
    }

    .candle {

        background-color: rgb(235, 235, 235);
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1.6rem;

        border-radius: var(--border-radius);
        border: 1px solid black;
        color: black;

        /* .span-black {
            background-color: black;
            color: white;
            padding: .360rem 1rem;
            border-radius: .5rem;
            line-height: 2.8rem;
        }

        .span-white {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            padding: .360rem 1rem;
            border-radius: .5rem;
            line-height: 2.8rem;
        } */

        .box-p {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h4 {
                font-family: var(--font-primary);
                font-size: 1.4rem;
            }

            .bi-arrow-up-right {
                background-color: rgb(0, 0, 0);
                width: max-content;
                padding: .3rem;
                border-radius: var(--border-radius);
                font-size: 1.1rem;
                color: white;
            }

            .bi-arrow-up-right.active {
                /* background-color: rgba(0, 0, 0, 0.829); */
                transform: scale(1.2) rotate(10deg);
            }
        }


        .img-candle {
            background-image: url(./img/vela-bg-white-one.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 10rem;
            background-position: center;
            height: 14rem;
        }


    }

    .candle:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        transition: .3s ease-in;
    }

    .candle:hover .bi-arrow-up-right {
        /* transform: scale(1.2); */
        transition: .3s ease-in;
    }

    a {
        width: max-content;
    }

    .img {
        height: 20rem;
        width: 20rem;
        /* background-color: yellow; */
        border-radius: .6rem;
    }


    .blac {
        background-color: black;
        color: white;
        border: 1px solid rgb(73, 73, 73);

        .box-p {
            .bi-arrow-up-right {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
            }
        }

        .box {
            .img-candle {
                background-image: url(./img/vela-bg-white-one.jpeg);
            }
        }


    }
}



/* Seccion tipo C */

.conteiner {
    padding: 2rem;


    .flex {
        font-family: var(--font-primary);
        display: flex;
        gap: 1rem;

        a {
            font-size: 1.2rem;
            letter-spacing: 1px;
            color: black;
            text-transform: uppercase;
        }

        a:hover {
            color: rgb(92, 92, 92);
            transition: .3s ease-in-out;
        }

        hr {
            border: 1px solid black;
        }
    }


    .velas-conteiner {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        width: min-content;

        .product {
            background-color: rgb(235, 235, 235);
            padding: 1rem;
            width: 100%;
            display: flex;
            gap: 1rem;
            border-radius: var(--border-radius);
            border: 1px solid rgba(0, 0, 0, 0.116);
        }

        .box-candle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
        }

        h3 {
            font-family: var(--font-primary);
            font-size: 1.3rem;
            margin-bottom: .4rem;
            letter-spacing: 1px;
        }

        p {
            font-family: var(--font-secondary);
        }

        .btn-buy {
            font-family: var(--font-primary);
            background-color: rgb(0, 0, 0);
            padding: .6rem;
            width: 100%;
            text-align: center;
            color: white;
            letter-spacing: 1px;
            border-radius: var(--border-radius);
        }

        .btn-buy:hover {
            letter-spacing: 2px;
            transition: .3s ease-in-out;
        }

        .img-candle {
            border-radius: var(--border-radius);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 16rem;
            width: 30rem;
        }

        .tc-1 {
            background-image: url("./img/tipoc/vainilla.jpeg");
        }

        .tc-2 {
            background-image: url("./img/tipoc/lavanda.jpeg");
        }

        .tc-3 {
            background-image: url("./img/tipoc/vainillacoco.jpeg");
        }

        .tc-4 {
            background-image: url("./img/tipoc/nardo.jpeg");
        }

        .tc-5 {
            background-image: url("./img/tipoc/bouquetfloral.jpeg");
        }

        .ta1 {
            background-image: url("./img/tipoa1/a1.jpeg");
        }

        .ta2 {
            background-image: url("./img/tipoa2/formatodiamante.jpeg");
        }

        .ta2-2 {
            background-image: url("./img/tipoa2/formatocorona.jpeg");
        }

        .ta3-1 {
            background-image: url("./img/tipoa3/cafe.jpeg");
        }

        .ta3-2 {
            background-image: url("./img/tipoa3/limon.jpeg");
        }

        .ta3-3 {
            background-image: url("./img/tipoa3/chicle.jpeg");
        }

        .tb1-1 {
            background-image: url("./img/tipob1/lavanda.jpeg");
        }

        .tb1-2 {
            background-image: url("./img/tipob1/vainilla.jpeg");
        }

        .tb1-3 {
            background-image: url("./img/tipob1/limon.jpeg");
        }

        .tb1-4 {
            background-image: url("./img/tipob1/nardo.jpeg");
        }

        .tb1-5 {
            background-image: url("./img/tipob1/vainillacoco.jpeg");
        }

        .tb1-6 {
            background-image: url("./img/tipob1/bouquetfloral.jpeg");
        }

        .tb2-1 {
            background-image: url("./img/tipob2/bouquetfloral.jpeg");
        }

        .tb2-2 {
            background-image: url("./img/tipob2/chicle.jpeg");
        }

        .tb2-3 {
            background-image: url("./img/tipob2/lavanda.jpeg");
        }

        .tb2-4 {
            background-image: url("./img/tipob2/nardo.jpeg");
        }

        .tb2-5 {
            background-image: url("./img/tipob2/vainilla.jpeg");
        }

        .tb2-6 {
            background-image: url("./img/tipob2/vainillacoco.jpeg");
        }

        .tb3-1 {
            background-image: url("./img/tipob3/cafe.jpeg");
        }

        .tb3-2 {
            background-image: url("./img/tipob3/chicle.jpeg");
        }

        .tb3-3 {
            background-image: url("./img/tipob3/citronella.jpeg");
        }

        .tb3-4 {
            background-image: url("./img/tipob3/eucalipto.jpeg");
        }

        .tb3-5 {
            background-image: url("./img/tipob3/limon.jpeg");
        }

        .tz-1 {
            background-image: url("./img/tipoz/cheeky.jpeg");
        }

        .tz-2 {
            background-image: url("./img/tipoz/chicle.jpeg");
        }
    }
}






/* MEDIAQUERIES */

@media screen and (max-width: 1854px) {
    .section-velas {

        .candle {
            padding: 1rem;
            width: 100%
        }

        .img {
            width: 20rem;
            height: 20rem;
        }
    }
}

@media screen and (max-width: 1698px) {
    .section-velas {

        .candle {
            padding: 1rem;
        }

        .img {
            width: 18rem;
            height: 18rem;
        }
    }
}

@media screen and (max-width: 1608px) {
    .section-velas {

        .img {
            width: 16rem;
            height: 16rem;
        }
    }
}

@media screen and (max-width: 1500px) {
    .section-velas {

        .img {
            width: 14rem;
            height: 14rem;
        }
    }
}

@media screen and (max-width: 1408px) {
    .section-velas {

        .img {
            width: 12rem;
            height: 12rem;
        }
    }
}

@media screen and (max-width: 1312px) {
    .section-velas {

        .img {
            width: 10rem;
            height: 10rem;
        }
    }
}

@media screen and (max-width: 1208px) {

    .black {
        padding: 1rem;
    }

    .section-velas {

        .conteiner-candles {
            grid-template-columns: repeat(2, 1fr);
        }

        .img {
            width: 16rem;
            height: 16rem;
        }
    }
}



@media screen and (max-width: 1000px) {
    header {
        padding: 0 1rem;
    }

    .section-velas {

        padding: 1rem;

        .conteiner-candles {
            grid-template-columns: repeat(2, 1fr);
        }

        .candle {
            padding: 1rem;

        }

        .img {
            width: 14rem;
            height: 14rem;
        }
    }


}

@media screen and (max-width: 920px) {

    .section-velas {

        .conteiner-candles {
            .candle {
                width: 100%;
            }
        }

        .img {
            width: 10rem;
            height: 10rem;
        }

    }


}

@media screen and (max-width: 788px) {

    header {

        nav {
            display: none;
            background-color: rgb(235, 235, 235);
            width: 100%;
            position: absolute;
            left: 0;
            padding: 1rem;
            top: 6rem;
            border-bottom: 1px solid black;
        }

        nav.active {
            display: block;
            text-align: center;
        }



        nav ul {
            flex-direction: column;

        }



        .hamburger {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3px;
        }

        .btn {
            display: none;
        }

        .btn.active {
            display: block;
            width: 100%;
            transition: .3s ease-in-out;
            background-color: yellow;
        }
    }

    .section-velas {

        .conteiner-candles {
            grid-template-columns: repeat(1, 1fr);

            .candle {
                width: 100%;
            }
        }



    }


}

@media screen and (max-width: 520px) {
    .section-velas {

        h4 {
            font-size: 1rem;
        }

        .conteiner-candles {
            a {
                width: 100%;
            }
        }



        .candle {

            width: 100%;
        }

        .img {
            width: 10rem;
            height: 10rem;
        }

    }
}